@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');


* {
    box-sizing: border-box;
}


body {
    background-color: #BDCCFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Oswald', sans-serif;

    
}

.block-quote {
    width: 600px;
    background: rgb(255, 255, 255);
    height: 200px;
    padding: 30px;
    font-size: 15px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 10px rgb(49, 51, 54);
    position: relative;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;    
    
}

.block-quote__reverse{
    position: absolute;
    width: 50px;
    height: 50px;
    background: #BDCCFF;
    border-radius: 100%;
    right: -20px;
    bottom: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
    cursor: pointer;
}

.dekor {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #BDCCFF;
    border-radius: 100%;
    left: -20px;
    top: -10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}


.info {
    font-size: 22px;
}

.author {
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
    position: absolute;
    bottom: 20px;
}




.author::first-letter {
    color: #84a1ff;
    font-size: 29px;
}

.block-quote__reverse {
    transition: 1s;
}

.block-quote__reverse:hover {
    transform: scale(1.3);
    transition: .3s;
}